<h1>Pirate Profile:</h1>
<p>Pirates Name: <%= @pirate.name %></p>
<p>Pirates height: <%= @pirate.height %></p>
<p>Pirates weight: <%= @pirate.weight %></p>



<h1>Ships:</h1>
<% @ships.each do |ship| %>
  <p>Ship Name: <%= ship.name %></p>
  <p>Ship Type: <%= ship.type %></p>
  <p>Ship Booty: <%= ship.booty %></p>
  <br>
  <br>
<% end %>
